.album{
    width: 100%;
    height: 430px;
    background-image: url(/image/album.jpg); background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.album_container{
    float: 1;
    width: 74%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.album_container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: all 3s;
}
.album_container-text h1 {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: royalblue;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'albumfont';
}
.album_container-text h1:hover{
    font-size: 2.5rem;
    font-weight: 400;
    color: red;
}
.album_container-text p{
    padding: 1rem;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 1rem;
    width: 70%;
    transition: all 0.3s;
}
.album_container-text P:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
}
.album_container-text span{
    color: black;
    font-weight: 500;
    transition: all 0.3s;
    margin-bottom: 1rem;
}
.album_container-text span:hover{
    color: red;
    cursor: pointer;
    font-size: 2.5rem;
}

.album_container-video{
    flex: 1;
    display: flex;
    justify-content: center;
}
.album img {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    transition: all 0.3s;
    
}
.album img:hover{
    cursor: pointer;
    box-shadow: 22px -16px 16px 6px rgba(25,69,227,0.42);
-webkit-box-shadow: 22px -16px 16px 6px rgba(25,69,227,0.42);
-moz-box-shadow: 22px -16px 16px 6px rgba(25,69,227,0.42);

}